[submodule "deps/libtiff"]
	path = deps/libtiff
	url = https://gitlab.com/libtiff/libtiff
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/qoi"]
	path = deps/qoi
	url = https://github.com/phoboslab/qoi
[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib
	shallow = true
